<div class="editor-row px-3 pt-5">
    
    <div class="card-looking shadow" style="margin-left: auto;">

        <div>

            <div style="margin-top: -2.25rem;">
                <a class="text-decoration-none fs-4" [routerLink]="[ '..' ]">
                    <i class="bi bi-arrow-left"></i> Back to Levels
                </a>
            </div>

            <div class="col-md-3">
                <app-input
                    class="m-2 mb-0"
                    name="name"
                    placeholder="Insert a level name"
                    [ngControl]="form.controls.name"
                />
            </div>
        
            <div class="map-controls">

                <div class="me-auto">
                    <button class="btn btn-outline-primary me-2">
                        Play <i class="bi bi-play"></i>
                    </button>
                </div>

                <div class="d-flex gap-2">

                    <ng-template #materialAutocomplete let-r="result" let-t="term">
        
                        <span
                            style="display: inline-block; width: 20px; height: 20px; margin-right: 12px;"
                            [style.backgroundColor]="r.color"
                        ></span>

                        <ngb-highlight [result]="r.name || '--'" [term]="t"></ngb-highlight>
                    </ng-template>

                    <div class="position-relative d-flex align-items-center gap-2">
    
                        <app-input
                            type="autocomplete"
                            name="lmb"
                            [template]="materialAutocomplete"
                            [formatter]="materialNameFormatter"
                            [options]="lmbs"
                            [ngControl]="form.controls._lmb"
                        />
        
                        <span
                            style="
                                pointer-events: none;
                                position: absolute;
                                border-radius: 4px;
                                border: 4px solid;
                                inset: 0px;
                            "
                            [style.borderColor]="form.controls._lmb.value?.color"
                        ></span>
                    </div>

                    <div class="position-relative d-flex align-items-center gap-2">
    
                        <app-input
                            type="autocomplete"
                            name="rmb"
                            [template]="materialAutocomplete"
                            [formatter]="materialNameFormatter"
                            [options]="lmbs"
                            [ngControl]="form.controls._rmb"
                        />
        
                        <span
                            style="
                                pointer-events: none;
                                position: absolute;
                                border-radius: 4px;
                                border: 4px solid;
                                inset: 0px;
                            "
                            [style.borderColor]="form.controls._rmb.value?.color"
                        ></span>
                    </div>
                </div>

                <div class="ms-auto">

                    <button
                        class="btn btn-outline-danger me-2"
                        (click)="clean()"
                    >
                        Clean <i class="bi bi-stars"></i>
                    </button>

                    <button class="btn btn-primary">
                        Save <i class="bi bi-save"></i>
                    </button>
                </div>
            </div>
        </div>

        <div id="map-data-editor"></div>
    </div>

    <div class="card-looking materials-pane shadow" style="margin-right: auto;">
        <app-global-materials></app-global-materials>
    </div>
</div>

<div class="editor-row p-3" style="width: 1500px; margin: 0 auto;">

    <div class="card card-body shadow">
        <div class="flexgrid flexgrid--2">

            <app-input
                type="number"
                name="gravityX"
                label="Gravity X"
                [ngControl]="form.controls.gravity.controls.x"
                [floatingLabel]="true"
            />

            <app-input
                type="number"
                name="gravityY"
                label="Gravity Y"
                [ngControl]="form.controls.gravity.controls.y"
                [floatingLabel]="true"
            />
        </div>
    </div>

    <div class="card card-body shadow">
        <div class="flexgrid flexgrid--2">

            <app-input
                type="number"
                name="velLimitX"
                label="Vel. Limit X"
                [ngControl]="form.controls.velLimit.controls.x"
                [floatingLabel]="true"
            />

            <app-input
                type="number"
                name="velLimitY"
                label="Vel. Limit Y"
                [ngControl]="form.controls.velLimit.controls.y"
                [floatingLabel]="true"
            />
        </div>
    </div>

    <div class="card card-body shadow">
        <div class="flexgrid flexgrid--2">

            <app-input
                type="number"
                name="movementSpeedX"
                label="Mov. Speed X"
                [ngControl]="form.controls.movementSpeed.controls.x"
                [floatingLabel]="true"
            />

            <app-input
                type="number"
                name="movementSpeedY"
                label="Mov. Speed Y"
                [ngControl]="form.controls.movementSpeed.controls.y"
                [floatingLabel]="true"
            />

            <app-input
                type="number"
                name="movementSpeedJump"
                label="Mov. Speed Jump"
                [ngControl]="form.controls.movementSpeed.controls.jump"
                [floatingLabel]="true"
            />
        </div>
    </div>

    <div class="card card-body shadow">
        <div class="flexgrid flexgrid--2">
    
            <app-input
                type="number"
                name="playerX"
                label="Player X"
                [ngControl]="form.controls.player.controls.x"
                [floatingLabel]="true"
            />
    
            <app-input
                type="number"
                name="playerY"
                label="Player Y"
                [ngControl]="form.controls.player.controls.y"
                [floatingLabel]="true"
            />
    
            <app-input
                name="playerColor"
                label="Player Color"
                [ngControl]="form.controls.player.controls.color"
                [floatingLabel]="true"
            />
        </div>
    </div>
</div>


