<!-- <div class="modal-footer flex-wrap justify-content-between gap-3 p-3">

    <div class="d-flex flex-wrap gap-3">

        <button
            class="btn btn-primary"
            (click)="create()"
        >
            <i class="bi bi-plus me-2"></i>
            Add New
        </button>

        <button
            class="btn btn-danger"
            [disabled]="dt.selectedRows.length === 0"
            (click)="deleteMany()"
        >
            <i class="bi bi-trash3"></i>
        </button>
    </div>

    <button
        class="btn btn-outline-primary"
        (click)="reset()"
    >
        Restore Factory Materials
    </button>
</div> -->

<h5 class="m-2 mb-0">Map Materials</h5>
        
<div class="d-flex justify-content-between p-2 border-bottom">

    <div>
        <button [disabled]="dt.selectedRows.length === 0" class="btn btn-outline-primary me-2">
            <i class="bi bi-arrow-left-right"></i>
        </button>
        <button class="btn btn-primary">
            <i class="bi bi-plus-circle"></i>
        </button>
    </div>

    <button [disabled]="dt.selectedRows.length === 0" class="btn btn-danger">
        <i class="bi bi-trash3"></i>
    </button>
</div>

<app-table
    #dt
    [thead]="thead"
    [tbody]="tbody"
    [items]="materials"
    [searchable]="[ 'name' ]"
    [paginated]="true"
    [pageSize]="50"
    [selectable]="true"
    maxHeight="450px"
>

    <ng-template #thead>
        <th sortable="name" (sort)="dt.sort($event)">Name</th>
        <th sortable="color" (sort)="dt.sort($event)">Color</th>
    </ng-template>

    <ng-template #tbody let-material let-term$="term$">

        <td data-label="Name" class="clickable" (click)="edit(material)">
            <ng-container *ngIf="material.name; else noName">
                <ngb-highlight [result]="material.name" [term]="(term$ | async) || ''"/>
            </ng-container>
            <ng-template #noName>--</ng-template>
            <small><i class="bi bi-pencil ms-2"></i></small>
        </td>

        <td data-label="Color">
            <span style="display: inline-block; width: 20px; height: 20px; margin-right: 12px;" [style.backgroundColor]="material.color"></span>
            {{ material.color }}
        </td>
    </ng-template>
</app-table>
