<div class="editor-row px-3">

    <div class="map-editor shadow" style="margin-left: auto;">
        <div>
            <h5 class="m-2 mb-0">Map Editor</h5>
        
            <div class="map-editor__controls p-2">
            
                <div>
                    <button class="btn btn-outline-primary">
                        <i class="bi bi-play"></i>
                    </button>
                </div>

                <div class="d-flex justify-content-center gap-2">
                    <div>L-Mouse Button Material</div>
                    <div>R-Mouse Button Material</div>
                </div>

                <div>
                    <button class="btn btn-outline-primary me-2">
                        Load
                    </button>
                    <button class="btn btn-primary">
                        Save
                    </button>
                </div>
            </div>
        </div>
        <div style="width: 768px; aspect-ratio: 16/9; background-color: bisque;"></div>
    </div>

    <div class="materials-pane shadow">
        <app-map-materials></app-map-materials>
    </div>

    <div class="materials-pane shadow" style="margin-right: auto;">
        <app-global-materials></app-global-materials>
    </div>
</div>
