*[class^="map-editor"]  {
  box-sizing: border-box;
}

.map-editor__world-wrap {
  background-color: #444;
  position: relative;
  width: 1024px;
  height: 576px;
  overflow: auto;
}

.map-editor__world {
  position: absolute;
}

.map-editor__row {
  display: flex;
}

.map-editor__row--editor {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #444;
}

.map-editor__row > .map-editor__tile {
  display: grid;
  place-items: center;
}

.map-editor__tile {
  position: relative;
  border: 1px solid #fff2;
  width: 1em;
  height: 1em;
  flex: 0 0 1em;
}

.map-editor__tile--editor {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: #444;
}

.map-editor__tile--crosshair::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #f003;
}

/* ToDo: How to pass these? */
[data-key="0"] {
  background-color: #0000;
}

[data-key="1"] {
  background-color: #fff;
}