<div
    class="d-grid p-2 border-bottom"
    style="grid-template-columns: 1fr 1fr 1fr; place-items: center;"
>

    <div class="me-auto">
        <button
            class="btn btn-primary"
            (click)="create()"
        >
            <i class="bi bi-plus-circle"></i>
        </button>
    </div>

    <h5 class="mb-0 lh-1">Materials</h5>

    <div class="ms-auto">
        <button
            class="btn btn-danger"
            (click)="deleteMany()"
            [disabled]="dt.selectedRows.length === 0"
        >
            <i class="bi bi-trash3"></i>
        </button>
    </div>
</div>

<app-table
    #dt
    [thead]="thead"
    [tbody]="tbody"
    [items]="$any(materialService.materials$ | async)"
    [searchable]="[ 'name' ]"
    [paginated]="true"
    [pageSize]="50"
    [selectable]="true"
    maxHeight="497px"
>

    <ng-template #thead>
        <th sortable="name" (sort)="dt.sort($event)">Name</th>
        <th sortable="color" (sort)="dt.sort($event)">Color</th>
    </ng-template>

    <ng-template #tbody let-material let-term$="term$">

        <td data-label="Name" class="clickable" (click)="edit(material)">
            <ng-container *ngIf="material.name; else noName">
                <ngb-highlight [result]="material.name" [term]="(term$ | async) || ''"/>
            </ng-container>
            <ng-template #noName>--</ng-template>
            <small><i class="bi bi-pencil ms-2"></i></small>
        </td>

        <td data-label="Color">
            <span style="display: inline-block; width: 20px; height: 20px; margin-right: 12px;" [style.backgroundColor]="material.color"></span>
            {{ material.color }}
        </td>
    </ng-template>
</app-table>
